/**
* Custom Spacing Utilities
* Only includes spacing classes that are actively used in the project
**/

/* Padding utilities */
.p-relative {
    position: relative;
}

/* Padding Top */
.pt---10 { padding-top: 10px; }
.pt---20 { padding-top: 20px; }
.pt---30 { padding-top: 30px; }
.pt---50 { padding-top: 50px; }
.pt---60 { padding-top: 60px; }
.pt---100 { padding-top: 100px; }
.pt---110 { padding-top: 110px; }
.pt---120 { padding-top: 120px; }

/* Padding Bottom */
.pb---30 { padding-bottom: 30px; }
.pb---40 { padding-bottom: 40px; }
.pb---60 { padding-bottom: 60px; }
.pb---70 { padding-bottom: 70px; }
.pb---80 { padding-bottom: 80px; }
.pb---96 { padding-bottom: 96px; }
.pb---100 { padding-bottom: 100px; }
.pb---110 { padding-bottom: 110px; }
.pb---120 { padding-bottom: 120px; }
