@import url('http://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$titlefont: 'Source Sans Pro', sans-serif;
$bodyfont: 'Source Sans Pro', sans-serif;
$blog-font: 'Source Sans Pro', sans-serif;
$transition: all 0.5s ease 0s;
$bodyColor: #53545b;
$titleColor: #FF6B35;
$primaryColor: #FF8C42;
$secondaryColor: #FF6B35;
$hoverColor: #FF9F4A;
$whiteColor: #ffffff;
$black-color: #000;
$heading-color: #252525;
$kidscolor: #FF6B35;
$paragraphColor: #f5f5f5;
$homesix-textColor: #4d5765;
$orangeGradient: linear-gradient(135deg, #FF6B35 0%, #FF8C42 50%, #FF9F4A 100%);
