/**
*
* -----------------------------------------------------------------------------
*
* Navaid Physics Academy - Streamlined Styles
* Optimized and cleaned CSS imports
*
* -----------------------------------------------------------------------------
*
**/

@import 'variables';
@import 'keyframes';
@import 'menu';
@import 'custom-spacing';
@import 'design';
@import 'responsive';
@import '../fonts/flaticon';
@import '../fonts/elegant-icon'; 


